<app-header></app-header>
<div class="service-main-banner h-screen relative" [ngClass]="{'zoomed': isZoomed, 'black-background': isBlackBackground}">
    <div class="overflow-container">
        <div class="space-y-16">
            <div class="w-[90%] mx-auto h-[90vh] flex items-center">
                <h1 class="Gilroy-Medium lg:text-[5rem] lg:leading-[80px] text-2xl text-white">Dive Into the New Age of <br> Accelerated Analytics</h1>
            </div>
            <div class=" bg-zinc-950 py-10">
                <div class="w-[90%] space-y-8 lg:space-y-16 mx-auto">
                    <h1 class="Gilroy-SemiBold text-white text-xl lg:text-4xl">Our Services</h1>
                    <div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 py-4 lg:py-0 flex items-center">
                                <div class="bg-blue-400 rounded-xl w-1/5 lg:w-2/5 mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 lg:border-l-0 p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Cloud Analytics Modernization</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 border-t-0 py-4 lg:py-0 flex items-center">
                                <div class="bg-red-400 rounded-xl w-1/5 lg:w-2/5 mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 border-t-0 lg:border-l-0 p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Data Science Acceleration</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 border-t-0 py-4 lg:py-0 flex items-center">
                                <div class="bg-blue-400 rounded-xl w-1/5 lg:w-2/5  mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 border-t-0 lg:border-l-0 p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Versatility in Application</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 border-t-0 py-4 lg:py-0 flex items-center">
                                <div class="bg-red-400 rounded-xl w-1/5 lg:w-2/5  mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 border-t-0 lg:border-l-0 p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Full Customer Experience Service</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-2/5 lg:h-[80vh] h-[50vh] service-banner border-gray-500 border border-t-0 flex items-center justify-center">
                                <h1 class="text-white Gilroy-SemiBold text-2xl lg:leading-[60px] lg:text-[3rem] px-10">We Integrate With <br> Your Ecosystem</h1>
                            </div>
                            <div class="w-full lg:w-3/5 border border-gray-500 border-t-0 lg:border-l-0 p-10 flex items-center">
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-11/12 lg:w-2/3 lg:leading-10 mx-auto">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>