<app-header></app-header>
<div class="service-main-banner h-screen relative" [ngClass]="{'zoomed': isZoomed, 'black-background': isBlackBackground}">
    <div class="overflow-container">
        <div class="space-y-16">
            <div class="w-[90%] mx-auto h-[90vh] flex items-center">
                <h1 data-aos="fade-right" class="Gilroy-Medium lg:text-[5rem] lg:leading-[90px] text-2xl text-white">2Connects - Where <br> We Shoulder Your Success </h1>
            </div>
            <div class=" bg-zinc-950 py-10">
                <div class="w-[90%] space-y-8 lg:space-y-16 mx-auto">
                    <h1 class="Gilroy-SemiBold text-white text-xl lg:text-4xl">Our Services</h1>
                    <div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 py-4 lg:py-0 flex items-center">
                                <div class="bg-blue-400 rounded-xl w-1/5 lg:w-2/5 mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 lg:border-l-0 p-4 md:p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Mobile Development</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">Comprehensive mobile apps development services and solutions to scale the demands of a futuristic dynamic digital landscape</p>
                                <div class="flex flex-wrap items-center gap-2 md:md:gap-4 gap-2">
                                    <ng-container *ngFor="let category of ['Android','iOS','Flutter','React Native']">
                                        <p class="md:px-6 px-4 py-2 rounded-lg bg-gray-100 md:text-base text-xs Gilroy-SemiBold">{{category}}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 border-t-0 py-4 lg:py-0 flex items-center">
                                <div class="bg-red-400 rounded-xl w-1/5 lg:w-2/5 mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 border-t-0 lg:border-l-0 p-4 md:p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Web Development</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">Leverage your online presence with our top-notch innovative web development services for upscaled business execution</p>
                                <div class="flex flex-wrap items-center md:gap-4 gap-2">
                                    <ng-container *ngFor="let category of ['Ruby On Rails','React JS','Node JS','MongoDB','Angular JS','Python','.NET','Java','DevOps','PHP']">
                                        <p class="md:px-6 px-4 py-2 rounded-lg bg-gray-100 Gilroy-SemiBold md:text-base text-xs ">{{category}}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 border-t-0 py-4 lg:py-0 flex items-center">
                                <div class="bg-blue-400 rounded-xl w-1/5 lg:w-2/5  mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 border-t-0 lg:border-l-0 p-4 md:p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">DevOps</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">Experience the future today with our fully efficient cloud services added with robust security and agility</p>
                                <div class="flex flex-wrap items-center md:gap-4 gap-2">
                                    <ng-container *ngFor="let category of ['AWS','Azure','IBM','New Relic','Slack Integrations','Sentry','RabbitMQ']">
                                        <p class="md:px-6 px-4 py-2 rounded-lg bg-gray-100 Gilroy-SemiBold md:text-base text-xs">{{category}}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/5 w-full border border-gray-500 border-t-0 py-4 lg:py-0 flex items-center">
                                <div class="bg-red-400 rounded-xl w-1/5 lg:w-2/5  mx-auto p-4 space-y-2">
                                    <img src="assets/images/cloud.png" />
                                    <div class="bg-black h-1 rounded-lg"></div>
                                </div>
                            </div>
                            <div class="lg:w-4/5 w-full border border-gray-500 border-t-0 lg:border-l-0 p-4 md:p-10 space-y-4">
                                <h2 class="text-white Gilroy-SemiBold text-lg lg:text-3xl">Round-the-Clock Maintenance</h2>
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 w-full lg:w-11/12">Tailor your dreamy designs into reality, experience excellent user experience, and so much more for your brand</p>
                                <div class="flex flex-wrap items-center md:gap-4 gap-2">
                                    <ng-container *ngFor="let category of ['Managed IT Services','UI/UX','Graphic Design','Software Testing','SEO & Marketing']">
                                        <p class="md:px-6 px-4 py-2 rounded-lg bg-gray-100 Gilroy-SemiBold md:text-base text-xs">{{category}}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-2/5 lg:h-auto h-[50vh] service-banner border-gray-500 border border-t-0 flex items-center justify-center">
                                <h1 class="text-white Gilroy-SemiBold text-2xl lg:leading-[60px] lg:text-[3rem] px-10">FAQs</h1>
                            </div>
                            <div class="w-full lg:w-3/5 border border-gray-500 border-t-0 lg:border-l-0 p-4 md:p-10 flex items-center">
                                <div class="space-y-2">
                                    <ng-container *ngFor="let faq of faqs">
                                        <details [open]="faq.open" class="bg-zinc-900 rounded-lg p-3 md:p-6 w-full">
                                            <summary class="Gilroy-Bold text-base md:text-2xl text-white">{{faq.question}}</summary>
                                            <p class="Gilroy-Medium text-gray-300 text-sm md:text-base">{{faq.ans}}</p>
                                        </details>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>