<app-header></app-header>
<div class="service-main-banner h-screen relative" [ngClass]="{'zoomed': isZoomed, 'black-background': isBlackBackground}">
    <div class="overflow-container">
        <div class="space-y-16">
            <div class="w-[90%] mx-auto h-screen flex items-center">
                <div class="space-y-8">
                    <h1 data-aos="fade-right" class="Gilroy-Medium text-2xl lg:text-[5rem] text-white">About 2Connects</h1>
                    <p data-aos="fade-left" class="Gilroy-Medium text-lg lg:text-[2.5rem] leading-normal text-white lg:w-3/4 w-full">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                </div>
            </div>
            <div class=" bg-zinc-950 py-10">
                <div class="w-[90%] space-y-16 mx-auto">
                    <div>
                        <div class="flex flex-wrap">
                            <div  class="lg:w-2/5 w-full lg:h-auto h-[50vh] service-banner border border-gray-500 flex items-center justify-center">
                                <h1 class="text-white Gilroy-SemiBold text-xl lg:leading-[60px] lg:text-[3rem] px-10">We Integrate With <br> Your Ecosystem</h1>
                            </div>
                            <div class="lg:w-3/5 w-full border border-gray-500 lg:border-l-0 lg:p-10 p-4 flex items-center">
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 lg:w-2/3 w-full lg:leading-10 mx-auto">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
                            </div>
                        </div>
                        <div class="flex lg:flex-row flex-col-reverse flex-wrap">
                            <div class="lg:w-3/5 w-full border border-t-0 border-gray-500 lg:border-r-0 lg:p-10 p-3 flex items-center">
                                <p class="Gilroy-Medium lg:text-xl text-gray-400 lg:w-2/3 w-full lg:leading-10 mx-auto">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
                            </div>
                            <div class="lg:w-2/5 w-full service-banner1 border-t-0 border border-gray-500 flex items-center justify-center lg:h-auto h-[50vh]">
                                <h1 class="text-white Gilroy-SemiBold text-xl lg:leading-[60px] lg:text-[3rem] px-10">We Integrate With <br> Your Ecosystem</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>